.login-container {
    margin-top: 7rem;
    margin-left: 23rem;
    margin-right: 23rem;
    width: 1023px;
}

.register-container {
    margin-top: 3rem;
    margin-left: 23rem;
    margin-right: 23rem;
    width: 1023px;
}